{% extends "make.html" %}

{% block menu %}
<a class="nav-link active" aria-current="page" href="/create">Create</a>
<a class="nav-link" href="/projects">Your Projects</a>
<a class="nav-link" href="/published">Discover</a>
<a class="nav-link" href="/logout">Log Out</a>
{% endblock %}


{% block main_content %}
<p></p>
<h1>Create your own colouring book</h1>
<br>
<p></p>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<form action="/" class="dropzone" id="dropzone" style="height:300px;color:rgb(198, 196, 196);border-style:dashed;border-color:rgb(84, 82, 82);opacity:0.8;border-width: 3px;font-size: large;">
	<div class="dz-message" data-dz-message style="font-size:25px;margin-top: 30px;padding-top: 80px;"><span style="color:rgba(128, 128, 128, 0.712)">Drop files here to upload</span></div>		
</form>
<form method=post action="{{ url_for('create_img.show_created_for_login') }}" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="hidden" name="image" id="formFile">
		</p>
    </dl>
    <p>
		<input type="submit" value="Create" style="background-color:#F8F8F8;width:80px;height:40px;border-color:rgb(84, 82, 82);color:rgb(84, 82, 82);font-size: large;" >
	</p>
</form>	

{% endblock %}
