{% extends "index.html" %}

{% block style_additions %}
{% endblock %}

{% block menu %}
<a class="nav-link" href="/">Create</a>
<a class="nav-link active" aria-current="page" href="/discover">Discover</a>
<a class="nav-link" href="/login">Log In</a>
{% endblock %}

{% block main_content %}

<div class="container" >
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <div class="jumbotron text-center p-4">
        <h2>Find a colouring!</h2>
      </div>
    </div>
    {% for i in images %}
    <div class="col-lg-3" style="margin-right:50px">
      <div class="card" style="margin-bottom:20px;width:180px;height:180px">
        <img class="card-img-top" src="{{ url_for('static', filename='uploads/' + i) }}" style="width:180px;height:180px">
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}