{% extends "index.html" %}

{% block style_additions %}
<script>
  function getImage() {
   // document.getElementById("image").value = document.getElementById("selected").value;
  }
  function deleteImage() {
  //  document.getElementById("image").value = null;
  //  document.getElementById("selected").value = null;
  }
  </script>
{% endblock %}

{% block menu %}
<a class="nav-link" href="/">Create</a>
<a class="nav-link active" aria-current="page" href="/discover">Discover</a>
<a class="nav-link" href="/login">Log In</a>
{% endblock %}

{% block main_content %}
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<div class="container" onload="deleteImage()">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <div class="jumbotron text-center p-4">
        <h2>Find a colouring!</h2>
      </div>
    </div>
    {% for i in images %}
    <div class="col-lg-3" style="margin-right:50px">
      <form  action="{{ url_for('look.download', filename=i) }}" enctype="multipart/form-data">
        <div class="card" style="margin-bottom:20px;width:180px;height:180px">
          <input type="hidden" name="image" id="image" src="{{ url_for('look.download', filename=i) }}" value="{{ url_for('look.download', filename=i) }}">
          <input id="selected" type="image" src="{{ url_for('static', filename='uploads/' + i) }}" style="width:180px;height:180px" onmouseenter="getImage()"/>
        </div>
    </form>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}