{% extends "index.html" %}

{% block style_additions %}

<link data-require="dropzone@4.0.1" data-semver="4.0.1" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/basic.css" />
    <link data-require="dropzone@4.0.1" data-semver="4.0.1" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css" />
    <script data-require="dropzone@4.0.1" data-semver="4.0.1" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.js"></script>
    <script data-require="dropzone@4.0.1" data-semver="4.0.1" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone-amd-module.js"></script>
    <link rel="stylesheet" href="./style.css" type="text/css">
    <script>
      Dropzone.options.dropzone = { 
        addRemoveLinks: true,
		
		maxFiles: 1,
		accept: function(file, done) {
            console.log(file);
			document.getElementById("formFile").value=file.name;
			done();
            },
		resize: function(file) { // thumbnail keep image ratio
			var resizeInfo = {
			srcX: 0,
			srcY: 0,
			trgX: 0,
			trgY: 0,
			srcWidth: file.width,
			srcHeight: file.height,
			trgWidth: this.options.thumbnailWidth,
			trgHeight: this.options.thumbnailHeight
			};
			return resizeInfo;
		}
      };
    </script>
	
	<script>
		function getFile() {
			//var imgVal = $("#dropzone").val();
			//$('#img').attr('src', imgVal);
			//console.log("1")
			document.getElementById("formFile").value = this.value
			//$('#formFile').attr('value', this.value)
		}
	</script>
{% endblock %}

{% block menu %}
<a class="nav-link active" aria-current="page" href="#" onload="getFile()">Create</a>
<a class="nav-link" href="/discover">Discover</a>
<a class="nav-link" href="/login">Log In</a>
{% endblock %}

{% block main_content %}
<p></p>
<h1>Create your own colouring book</h1>
<h3>Select a file to upload</h3>
<p></p>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<form action="/" class="dropzone" id="dropzone">
	
</form>
<form method=post action="{{ url_for('create_img.show_created') }}" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="hidden" name="image" id="formFile">
		</p>
    </dl>
    <p>
		<input type="submit" value="Create" >
	</p>
</form>	

{% endblock %}