{% extends "index.html" %}

{% block style_additions %}
{% endblock %}

{% block menu %}
<a class="nav-link" href="/create">Create</a>
<a class="nav-link"href="/projects">Your Projects</a>
<a class="nav-link active" aria-current="page" href="/published">Discover</a>
<a class="nav-link" href="/logout">Log Out</a>
{% endblock %}

{% block main_content %}
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <div class="jumbotron text-center p-4">
        <h2>Find a colouring!</h2>
      </div>
    </div>
    {% for i in images %}
    <div class="col-lg-3" style="margin-right:50px">
      <form  action="{{ url_for('look.download_published', filename=i) }}" enctype="multipart/form-data">
        <div class="card" style="margin-bottom:20px;width:180px;height:180px">
          <input type="hidden" name="image" id="image" src="{{ url_for('look.download_published', filename=i) }}" value="{{ url_for('look.download_published', filename=i) }}">
          <input id="selected" type="image" src="{{ i }}" style="width:180px;height:180px"/>
        </div>
    </form>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
