{% extends "index.html" %}

{% block style_additions %}
{% endblock %}

{% block menu %}
<a class="nav-link" href="/">Create</a>
<a class="nav-link" href="/discover">Discover</a>
<a class="nav-link" href="/login">Log In</a>
{% endblock %}

{% block main_content %}
    <h2>Please sign in</h2>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        
        {% endwith %}
    </p>
    <br>
    <form action="" method = "POST">
        <div><input type = "email" name = "email" placeholder="email" style="margin-bottom: 20px;width:250px;background-color:#F8F8F8"/></div>
        <div><input type = "text" name = "username" placeholder="username" style="margin-bottom: 20px;width:250px;background-color:#F8F8F8"/></div>
        <div><input type = "password" name = "password" placeholder="password" style="margin-bottom: 20px;width:250px;background-color:#F8F8F8"/></div>
        <p><input type = "submit" value = "Sign In" style="background-color:#F8F8F8"/></p>
    </form>
{% endblock %}

